<?xml version="1.0"?>
<model>
  <name>zaybot_v2</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Zayan Zamir</name>
    <email>zayanabdullahzamir@gmail.com</email>
  </author>
  <description>
    Zaybot mobile robot with 4WD configuration, LIDAR and IMU sensors
  </description>
</model>
